 <div class="container-fluid-md">
    <div id="home" class="row align-items-center foto-fondo ">
      <div class="col-lg-3 offset-lg-2 Contenido">
        <p>Bienvenido</p>
        <h1>Viajes AR</h1>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Aut, aperiam ratione. Sapiente iure nesciunt
          unde possimus ipsam harum aut! Ullam velit placeat voluptatum est odit fugiat, delectus reiciendis
          magnam. Officiis!</p>

      </div>
    </div>
    
  </div>

  <!-- FOTOS CAROUSEL-->
  <div class="container-sm">
    <div id="carouselExampleIndicators" class="carousel slide">
      <div class="carousel-indicators">
        <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="0" class="active"
          aria-current="true" aria-label="Slide 1"></button>
        <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="1"
          aria-label="Slide 2"></button>
        <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="2"
          aria-label="Slide 3"></button>
      </div>
      <div class="carousel-inner">
        <div class="carousel-item active">
          <img src="img/miami.jpg" class="d-block w-100" alt=" Miami">
        </div>
        <div class="carousel-item">
          <img src="img/Rio.jpg" class="d-block w-100" alt="Rio de Janeiro">
        </div>
        <div class="carousel-item">
          <img src="img/UMexico.jpg" class="d-block w-100" alt="Mexico">
        </div>
      </div>
      <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleIndicators"
        data-bs-slide="prev">
        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Previous</span>
      </button>
      <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleIndicators"
        data-bs-slide="next">
        <span class="carousel-control-next-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Next</span>
      </button>
    </div>
  </div>
  <!--Parrafos con lista -->
  <div class="container mt-3">
    <h2>Viaja Seguro</h2>
    <div class="row">
      <div class="col">Lorem ipsum dolor sit, amet consectetur adipisicing elit. Officiis esse sint impedit,
        voluptate ab non, rem blanditiis cupiditate autem eaque ratione ducimus asperiores nesciunt voluptatum,
        reprehenderit quae ipsam. Accusantium, velit.
      </div>
      <div class="col">Lorem ipsum dolor sit, amet consectetur adipisicing elit. Officiis esse sint impedit,
        voluptate ab non, rem blanditiis cupiditate autem eaque ratione ducimus asperiores nesciunt voluptatum,
        reprehenderit quae ipsam. Accusantium, velit.
      </div>
    </div>

  </div>
  <!--Lista de Viajes -->
  <div class="container mt-3">
    <div class="row">
      <div class="col">

        <div id="Viajes" class="list-group">
          <a href="#" class="list-group-item list-group-item-action active" aria-current="true">
            <div class="d-flex w-100 justify-content-between">
              <!-- d-flex haciendo que sus elementos hijos se coloquen en una línea. -->
              <!-- justify-content Justifica el contenido dentro del <div> de manera que los elementos se distribuyan de manera equitativa con espacio entre ellos.-->
              <h5 class="mb-1">Miami</h5>
              <small>900USD</small>
            </div>
            <p class="mb-1">Plan de 10 dias 9 noches.</p>
            <small>Viaja seguro a traves de USA Airlines</small>
          </a>
          <a href="#" class="list-group-item list-group-item-action">
            <div class="d-flex w-100 justify-content-between">
              <h5 class="mb-1">Rio de Janeiro</h5>
              <small class="text-body-secondary">250USD</small>
            </div>
            <p class="mb-1">Plan de 10 dias 9 noches.</p>
            <small class="text-body-secondary">Viaja seguro a traves de Aerolineas Argentinas</small>
          </a>
          <a href="#" class="list-group-item list-group-item-action">
            <div class="d-flex w-100 justify-content-between">
              <h5 class="mb-1">Mexico</h5>
              <small class="text-body-secondary">800USD</small>
            </div>
            <p class="mb-1">Plan de 10 dias 9 noches.</p>
            <small class="text-body-secondary">Viaja seguro a traves de USA Airlines</small>
          </a>
        </div>

      </div>
      <!--BOTON DE MAS INFO -->
      <div class="col">
        <button class="btn btn-primary" type="button" data-bs-toggle="offcanvas" data-bs-target="#offcanvasScrolling"
          aria-controls="offcanvasScrolling">Mas informacion</button>
        <img src="img/vuelo.jpg" class="img-thumbnail" alt="Avion">

        <div class="offcanvas offcanvas-start" data-bs-scroll="true" data-bs-backdrop="false" tabindex="-1"
          id="offcanvasScrolling" aria-labelledby="offcanvasScrollingLabel">
          <div class="offcanvas-header">
            <h5 class="offcanvas-title" id="offcanvasScrollingLabel">Mas informacion</h5>
            <button type="button" class="btn-close" data-bs-dismiss="offcanvas" aria-label="Close"></button>
          </div>
          <div class="offcanvas-body">
            <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Officiis velit animi ad nesciunt est assumenda.
              Ipsum explicabo obcaecati consequatur inventore in iure eligendi nam? Numquam suscipit dicta nulla dolor
              pariatur!</p>
          </div>
        </div>

      </div>

    </div>
    <div class="container3">
      <div class="Titulo">
        <h2>Nuestra Historia</h2>
        </div>
        <div class="image-text">
          <img src="img/Historia.jpg" alt="Imagen 1" class="imagen1">
          <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Placeat sapiente culpa vero, exercitationem,
            quibusdam dolore magni reprehenderit molestiae, inventore quos veritatis quam vitae enim sint id asperiores?
            Harum, quod dolor. Lorem ipsum dolor sit amet consectetur adipisicing elit. Totam, doloribus! Optio
            obcaecati molestiae ducimus totam sed ex voluptates, facilis libero exercitationem excepturi provident natus
            illum temporibus expedita earum quas tempore.</p>

        </div>

      </div>
    </div>
    

    <!--Tarjeta (sobre nosotros)-->
    <div id="Nosotros" class="row align-items-stretch my-3 staff py-4">
      <div class="col-lg-8 offset-lg-2">
        <h2>Nosotros</h2>
        <div class="row row-cols-1 row-cols-md-4 g-4">
          <div class="col">
            <div class="card">
              <img src="img/Lucas.jpg" class=" foticos card-img-top" alt="Ft Lucas">
              <div class="card-body">
                <h5 class="card-title">Lucas Zapalla</h5>
                <p class="card-text">This is a longer card with supporting text below as a natural lead-in to
                  additional
                  content. This content is a little bit longer.</p>
              </div>
            </div>
          </div>
          <div class="col">
            <div class="card">
              <img src="img/Mariano.jpg" class=" foticos card-img-top" alt="ft Mariano">
              <div class="card-body">
                <h5 class="card-title">Mariano De Luke</h5>
                <p class="card-text">This is a longer card with supporting text below as a natural lead-in to
                  additional
                  content. This content is a little bit longer.</p>
              </div>
            </div>
          </div>
          <div class="col">
            <div class="card">
              <img src="img/Juan.jpg" class=" foticos card-img-top" alt="Ft Juan">
              <div class="card-body">
                <h5 class="card-title">Juan Rodriguez</h5>
                <p class="card-text">This is a longer card with supporting text below as a natural lead-in to
                  additional
                  content. This content is a little bit longer.</p>
              </div>
            </div>
          </div>
          <div class="col">
            <div class="card">
              <img src="img/Pablo.jpg" class=" foticos card-img-top" alt="Ft Pablo">
              <div class="card-body">
                <h5 class="card-title">Pablo Campuzano</h5>
                <p class="card-text">This is a longer card with supporting text below as a natural lead-in to
                  additional
                  content. This content is a little bit longer.</p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <!--Visitanos-->
    <h2 class="Visitanos">Visitanos</h2>
    <div class="container5">
      <div id="Conocenos" class="row py-4">
        <div class=" col-md-4 offset-md-2">

          <div class="mapa">
            <iframe
              src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3284.2188434593136!2d-58.42269192514693!3d-34.59862725722781!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x95bccb2e1493a6a3%3A0x1862a7c0b8163e5d!2sUTN.BA!5e0!3m2!1ses-419!2sar!4v1722058694376!5m2!1ses-419!2sar"
              allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
          </div>
        </div>
      </div>
    </div>
    <!--Contactanos-->
    <div class="container6">
      <div id="Contactanos" class="contacto col-md-4 mt-4 mt-sm-0">
        <h2>Contactanos</h2>
        <form class=" formulario row g-3"action="/"method="post"> <!--El metodo post es para enviar los datos del formulario -->
          <div class="col-md-6">
            <label for="inputEmail4" class="form-label">Nombre</label>
            <input type="text" class="form-control" id="nombre"name="nombre"><!--Name se usa para darle darle un nombre al envio de datos -->
          </div>
          <div class="col-md-6">
            <label for="inputPassword4" class="form-label">Apellido</label>
            <input type="text" class="form-control" id="apellido" name="apellido">
          </div>
          <div class="col-12">
            <label for="inputAddress" class="form-label">Email</label>
            <input type="email" class="form-control" id="email" placeholder="email@gmail.com" name="email">
          </div>
          <div class="col-12">
            <label for="inputAddress2" class="form-label">Telefono</label>
            <input type="text" class="form-control" id="tel" placeholder="..." name="telefono">
          </div>
          <div class="col-md-6">
            <label for="inputCity" class="form-label">Mensaje</label>
            <textarea class="form-control" id="mensaje" rows="3"name="mensaje"></textarea>
          </div>
          <div class="col-12">
            <button type="submit" class="btn btn-primary">Enviar</button>
          </div>
        </form>
        <!--<p class="msj-env">{{message}}</p>-->{{message}}
      </div>
    </div>
